body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}
.creative {
  color: midnightblue
}
.left {
  float: left;;
}
.right {
  float: right;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;

}
.card-title {
  color: midnightblue;
}
img {
  max-width: 300px;
  height: auto;
}
.card {
  width: 45%;
}
@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }
}


footer {
  text-align: right;
  color: midnightblue;
}

